* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    line-height: 150%;
}
.container {
    margin: 0 auto;
    position: relative;
    z-index: 7;
    width: 1400px;
}

/* header */

header {
    height: 95px;
    width: 100%;
}
.menu {
    display: flex;
    height: 90px;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
}
@media (max-width:768px) {
    .menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 50%;
        height: 100vh;
        padding: 30px 0px 0px 70px;
        flex-direction: column;
        background-color: rgba(214, 211, 26, 0.8);
        transition: 0.8s all;
    }
    .menu_active {
        right: 0;
    }
    .menu_item {
        padding-top: 0;  
    }
    .menu .menu_item .menu_link {
        font-size: 21px;
    }
    .logo {
        display: none;
    }
    .hamburger {
        display: block;
        position: absolute;
        left: 20px;
        top: 30px;
        width: 40px;
        height: 18px;
    }
    .hamburger span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: black;
        margin-bottom: 5px;
        transition: 0.6s all;
    }
    .hamburger_active span {
        margin-bottom: -2px;
    }
    .hamburger_active span:nth-child(1) {
        transform: rotate(-45deg);  
    }
    .hamburger_active span:nth-child(2) {
        display: none;
    }
    .hamburger_active span:nth-child(3) {
        transform: rotate(45deg);  
    }
}
.menu .header_info {
    display: flex;
    align-items: center;
}
.header_call {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    color: #2B2B2A;
}
.logo {
    position: absolute;
    width: 110px;
    height: 65px;
    left: 0;
    top: 4px;
}
.menu .menu_link {
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #2B2B2A;
}
.block_enter {
    display: block;
    position: absolute;
    top: 20px;
    width: 180px;
    height: 50px;
    background: #2B2B2A;
    border-radius: 15px;
}
@media (max-width:768px) {
    .block_enter {
        display: none;
    }
}
.block_enter .enter_link {
    position: absolute;
    top: 14px;
    text-decoration: none;
    padding-left: 32px;
    line-height: 150%;
    color: #FFFFFF;
    border-right: 2px solid #FFFFFF;
    padding-right: 7px;
}
.block_enter .enter_login {
    position: absolute;
    top: 14px;
    text-decoration: none;
    padding-left: 80px;
    line-height: 150%;
    color: #FFFFFF;
}
.block_enter_mobile {
    display: none;
}
.logo_mobile {
    display: none;
}
@media (max-width:768px) {
    .logo_mobile {
        display: block;
        position: absolute;
        left: 100px;
        top: 4px;
    }
    .block_enter_mobile {
        display: block;
        position: absolute;
        top: 20px;
        left: 300px;
        width: 180px;
        height: 50px;
    }
    .block_enter_mobile .link {
        color: black;
        text-decoration: none;
        border-right: 1px solid #000000;
        padding-right: 7px;
    }
    .block_enter_mobile .login {
        color: black;
        text-decoration: none;
    }
}

/* promo */

.promo {
    width: 100vw;
    margin: 0 auto;
    height: 750px;
    position: relative;
    background-color: #2B2B2A;
}
.container_promo {
    margin-left: 100px;
}
.promo .promo_black {
    position: absolute;
    width: 500.66px;
    height: 750px;
    left: 400px;
    top: 67.97px;
    background: #2B2B2A;
    filter: blur(30.5px);
    transform: rotate(-16.75deg);
    z-index: 2;
}
.promo .promo_backgound {
    background: url('/src/img/unsplash_smgTvepind4.png') center center / cover no-repeat;
    position: absolute;
    height: 750px;
    width: 960px;
    left: 712px;
    top: 0px;
    z-index: 1;
}
@media (max-width:768px) {
    .promo {
        position: relative;
    }
    .promo .promo_black {
        display: none;
    }
    .promo .promo_backgound {
        display: none;
    }
}

/* promo */

.sales {
    display: flex;
    justify-content: flex-start;
    padding-top: 109px;
}
.sales .online {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    width: 103px;
    height: 37px;
    background: #59F97C;
    border-radius: 30px;
    margin-right: 15px;
}
.sales .top_sales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    width: 137px;
    height: 37px;
    background: #EDC407;
    border-radius: 30px;
}
.course_txt {
    width: 395px;
    height: 182px;
    font-weight: 900;
    font-size: 130px;
    line-height: 140%;
    letter-spacing: 0.15em;
    color: #3E3E3C;
}
.advertising {
    position: absolute;
    height: 60px;
    top: 205px;
    font-weight: 900;
    font-size: 50px;
    line-height: 120%;
    color: #FFFFFF;
}
.requier {
    padding-left: 5px;
    list-style-type: none;
}
.requier .requier_item {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}
.requier .requier_item::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    transform: translate(-5px , -2px);
    width: 12px;
    height: 12px;
    background: url('../icons/Vector\ 9.svg') center center / cover no-repeat;
}
.price {
    display: flex;
    align-items: flex-end;
    margin-top: 45px;
}
.price .price_name {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: #FFFFFF;
}
.price .price_edit .price_high {
    font-weight: 900;
    font-size: 50px;
    color: #FFFFFF;
}
.price .price_edit .price_low {
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    width: 134px;
    font-size: 22px;
    line-height: 150%;
    color: #B7B7B7;
}
.price .price_edit .price_low::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    transform: translate(0px , 31px);
    width: 111px;
    height: 1px;
    background: url('../icons/Vector\ 1.svg') center center / cover no-repeat;
}
.price .price_cur {
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}
.details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 29px;
}
.details .btn {
    width: 275px;
    height: 65px;
    font-weight: 400;
    background: #E0FF00;
    border-radius: 15px;
    color: #2B2B2A;
    border: none;
    cursor: pointer;
}
.details .details_block {
    margin-left: 45px;
    border-left: 1px solid #E0FF00;
    padding-left: 17px;
}
.details_block .details_desc {
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
}
.details_block .details_txt {
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
}
.position_course {
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}
.position_course span {
    font-weight: 700;
}

/* education */

.education {
    position: relative;
    z-index: 7;
    background-color: white;
}
.tittle {
    margin: 0;
    text-align: center;
    padding-top: 160px;
    font-weight: 900;
    font-size: 40px;
    line-height: 120%;
    color: #2B2B2A;
}
.education_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
}
.education_item .item_img {
    width: 80px;
    height: 80px;
}
.education_item .item_txt {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #2B2B2A;
}
.education_item {
    display: flex;
    flex-direction: column;
    margin: 30px 90px 30px 90px;
    width: 200px;
    height: 128px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}


